#parent{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#header{
  background-color: #67ad3d;
  height: 15em;
  margin-bottom: 1em;
}
#welcome{
  color: white;
  vertical-align: middle;
  margin: auto;
  font-size: 3em; 
  line-height: 5em;
  text-shadow: 2.5px 2.5px #4b774a;
}
